<mat-toolbar>
    <mat-toolbar-row>
      <div class="container-grid cabecalho">
        <nav>
          <a class="logo" routerLink="/">
            <img src="./assets/img/Logo.png" alt="Logo Game Mania">
          </a>
        </nav>
        
    
          <input type="text" id="txtBusca" placeholder="Buscar..."/>
    
          
          <nav class="cadastro">
             <a id="login" routerLink="/login"> Login </a>
          </nav>

          <div class="icones-header">
            <img src="/assets/img/Carrinho.png" alt="Imagem de um carrinho de compras - Botão Minhas Compras">
            <a onclick="mostrarMenu()" href="#" id="barras"><img src="/assets/img/Menu.png" alt="Menu de hambúguer clique para abrir o menu"></a>  
          </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  