<body>
<!-- Início do Menu-->
<section class="menu-tablet">
    <div>
        <input type="text" id="txtBusca2" placeholder="Buscar..."/>
    </div>
</section>
<section class="menu-responsivo" >
    <div>
        <nav>
            <a>PC</a>
            <a>Console</a>
            <a>Periféricos</a>
            <a>Jogos</a>
            <a>Monte seu PC</a>
            <a>Contato</a>
        </nav>
    </div>
</section>
<!-- Fim do Menu -->

<!-- Início do Banner-->
<section class="Banner">
        <div class="container-grid">
            <div class="texto-banner">
                <h1>A chance de você ter seu</h1>
                <h1>setup gamer é agora!</h1>
                <h1>Conheça nossas ofertas!</h1>
                <a>Compre agora!</a>
            </div>
        </div>
</section>
<!-- Fim do Banner-->

<!-- Início do Garantias de pagamento-->
<section class="infopagamento">
    <div class="container-grid">
        <div class="garantias">
            <div class="garantias-texto">
                <img src="/assets/img/escudo 1.png" alt="Pagamento Seguro">
                <p>Pagamento seguro!</p>
            </div>

            <div class="garantias-texto">
                <img src="/assets/img/caminhao-de-entrega 1.png" alt="Entrega rápida para todo país">
                <p>Entrega para todo o país!</p>
            </div>

            <div class="garantias-texto">
                <img src="/assets/img/credit-card 1.png" alt="Parcelas em até 12 vezes sem juros">
                <p>Parcelas até 12 vezes sem juros!</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim do Garantias de pagamento-->

<!-- Início da sessão Seja Gamer-->
<section class="banner-sejagamer">
    <div class="titulo-sejagamer container-grid">
        <p>{{titulo}}</p>
    </div>
    <div class="container-grid posicionamento-gamer">
        <div class="conteudo-sejagamer">
            <img class="imguriel" src="assets/img/imgbannerinformativo.png" alt="Imagem de uma pessoa jogando no óculos VR">
        </div>
        <div class="texto-sejagamer">
            <p>{{texto}}</p>
            <p>{{texto1}}</p>
            <p>{{texto2}}</p>
            <br>
            <br>
            <a class="botao-sejagamer">TORNAR-SE GAMER!</a>     
        </div>
    </div>
</section>
<!-- Fim da sessão Seja Gamer-->

<!-- Início da Sessão-Produtos-->
<section class="background-vendas">
    <div class="container-grid retangulo">
        <div class="titulo">
            <p>
                Produtos de última geração!
            </p>
        </div>
        <div class="ofertas-produtos">
            <img src="/assets/img/seta-direita 2.png" alt="seta direcionada para direita">
            <div class="produto">
                <div>
                    <img src="/assets/img/Xbox-series-x 1.png" alt="Console do Xbox Series X">
                    <p>
                        Xbox Series X, 1 Tb
                        <br> 
                        com controle. 
                        <br>
                        <br>
                        R$ 3.000,00
                    </p>
                    
                    <div class="botao-ofertas">
                        <a>COMPRE AGORA!</a>
                    </div>
                </div>
            </div>
            
            <div class="produto produto2">
                <div>
                    <img src="/assets/img/Console-Playstation-5 1.png" alt="Console Playstation 5">
                    <div>
                        <p>
                            Playstaton 5, 856 Tb
                            <br> 
                            com controle. 
                            <br>
                            <br>
                            R$ 4.000,00
                        </p>
                    </div>
                    <div class="botao-ofertas">
                        <a>COMPRE AGORA!</a>
                    </div>
                </div>
            </div> 
            <div class="produto produto3">
                <div>
                    <img src="/assets/img/playstation-5-controle.png" alt="Controle do playstation 5">
                    <p>
                        Playstation 5 - Controle                   
                       <br> 
                       <br>
                       <br>
                       R$ 300,00
                    </p>
                    <div class="botao-ofertas">
                        <a>COMPRE AGORA!</a>
                    </div>
                </div>
            </div>
            <img src="/assets/img/seta-direita 1.png" alt="Seta direcionada para esquerda">
        </div>      
    </div>
</section>
<!-- Fim da Sessão-Produto-->

</body>
