<section id="carrossel" class="banner-1 effects pagina-login">
    <div class="body-login">
        <div class="container login-pagina">
        <div class="email">
            <label>E-mail </label>
            <input type="email" placeholder="  Exemplo@email.com">
        </div>
        <div class="senha">
            <label>Senha </label>
            <input type="password" placeholder="  Digite sua senha.">
        </div>
        <button class="botao-login">
            Confirmar
        </button>
    </div>
    </div>
</section>
