<section class="rodape">
    <div class="container-grid texto-rodape">
        <div>
            <div>
                <h1>Institucional </h1>
                <p>
                  <br>
                  Política de Cookies 
                  <br><br>
                  Termos e condições 
                  <br><br>
                  Sobre a Game Mania 
                  <br><br>
                  Politica de privacidade 
                  <br><br>
                </p>
                
            </div>
            
        </div>
        <div>
            <div>
                <h1> Atendimento </h1>
                <p>
                    <br>
                    Endereço: Rua Santo Vígílio, 124, Centro, Rio de Janeiro,<br> CEP:29346-987 <br><br>
                    SAC: (53) 0800 3924329 <br><br>
                    FAQ-Orientações <br><br>
                    Email: gamemania@gamers.com <br><br>
                </p> 
            </div>
        </div>
         <div>
            <div>
                <div class="texto-rede-sociais">
                    <h1>Redes Sociais</h1>
                 </div>
                <div class="logoredes"> 
                    <img src="/assets/img/facebook 1.png" alt="Logo do facebook.">
                    <img src="/assets/img/instagram 1.png" alt="Logo do instagram">
                    <img src="/assets/img/linkedin 1.png" alt="Logo do Linkedin">
                    <img src="/assets/img/whatsapp 1.png" alt="Logo do whatsapp">
                </div>
            </div>
        </div>
    </div>
</section>
